/*
* * * * * ==============================
* * * * * ==============================
* * * * * ==============================
* * * * * ==============================
========================================
========================================
========================================
----------------------------------------
USWDS THEME CUSTOM STYLES
----------------------------------------
!! Copy this file to your project's
    sass root. Don't edit the version
    in node_modules.
----------------------------------------
Custom project SASS goes here.

i.e.
@include u-padding-right('05');
----------------------------------------
*/

@use 'uswds-core' as *;

// Sticky footer:
// USWDS surprisingly doesn't support this with any of their utilities or components.
.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.main {
  flex: 1;
}

// Header:
// Set custom background and text colors.
.header {
  background-color: #162e51;
  color: #fff;
}

// Tables:
// Set the tables to be 100% width.
.usa-table {
  width: 100%;
}

// Footer logo spacing:
// Currently the next/image component wraps the <img> tag in a bunch of <spans>
// and applies direct css onto all those elements. To overcome it, we need
// to manually override the parent element span using the unfortunate !important
// See https://github.com/vercel/next.js/discussions/18312
.footer .logos > span {
  margin-right: 1.5rem !important;
}

// USWDS Process List:
// Remove margin on last child
.usa-process-list__item:last-child {
  padding-bottom: 0;
}

// Custom content group:
// A logical content grouping with spacing below.
.content-group,
.usa-fieldset {
  @include u-padding-bottom(3);

  p:last-child {
    margin-bottom: 0;
  }
}

// A logical content grouping for content.
// Used on the confirmation page.
.content-group-small {
  @include u-margin-bottom(4);

  h2 {
    @include u-margin-bottom(0);
  }

  p {
    @include u-margin-top(1);
  }
}
